@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-georgian: var(--font-noto-sans-georgian);
}

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
